In [4]:
import pandas as pd

pd.read_csv("../rawdata/func_need_LIUChen_0416.csv", header=0)

    MRIIDNew
0       1032
1       1037
2       1089
3       1091
4       1095
5       1099
6       1122
7       1140
8       1145
9       1160
10      1161
11      1169
12      1184
13      1216
14       125
15      1263
16      1292
17      1302
18      1306
19      1320
20      1351
21      1359
22      1372
23      1383
24      1386
25      1422
26      1427
27      1428
28      1436
29      1518
30      1546
31      1593
32      1604
33      1737
34       233
35       402
36        43
37       483
38       579
39       607
40       657
41        69
42       707
43       719
44       736
45       746
46       762
47       779
48       804
49       805
50       820
51       829
52       833
53       835
54       837
55       844
56       879
57       881
58       908
59       994